<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta</title>
    <link rel="stylesheet" href="../styles/crearCuenta.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="contenedor">
        <div class="parte-izquierda">
            <img src="../imgs/vank.jpeg" alt="">
            <b>Una solución financiera para todxs</b>
        </div>
        <div class="parte-derecha">
            <h1>Nueva cuenta</h1>
            
            <div class="input-container nombre-container">
                <span class="icon">
                    <i class="fa-solid fa-user"></i>
                </span>
                <input type="text" id="nombre" placeholder="Nombre completo">
            </div>  

            <div class="input-container telefono-container">
                <span class="icon">
                    <i class="fa-solid fa-phone"></i>
                </span>
                <input type="text" id="telefono" placeholder="Teléfono">
            </div>  

            <div class="input-container correo-container">
                <span class="icon">
                    <i class="fa-solid fa-envelope"></i>
                </span>
                <input type="text" id="correo" placeholder="Correo">
            </div>  

            <div class="input-container contrasena-container">
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
                <input type="text" id="contrasena" placeholder="Contraseña">
            </div>  
            <button id="submit" class ="guardar-button">Guardar</button>
        </div>
    </div>
</body>
</html>