<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../styles/inicio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="contenedor">    
        <div class ="parte-izquierda">
            <div class ="perfil">
                <img src="../imgs/fotoPerfil.png" alt="">
                <h1>Valeria Aristizabal</h1>
            </div>
            <hr>
            <div class="opciones">
                <a href="#" class="opcion">Inicio</a>
                <a href="#" class="opcion">Wallet</a>
                <a href="#" class="opcion">Créditos y pagos</a>
                <a href="#" class="opcion">Reportes</a>
                <a href="#" class="opcion">Perfil de usuario</a>
            </div>
        </div>
        <div class ="parte-derecha">
            <h1>Novedades</h1>
            <div class="novedades"></div>
            <div class="titulo-parte-derecha">
                <h2>Mis productos</h2>
                <button class="btn-agregar"><b>+ Solicitar productos</b></button>
            </div>
            <div class ="cuentas">
                <h2>Mis cuentas</h2>
                <p>Saldo disponible</p>
                <b>$56.907</b>
                <p>Saldo total</p>
                <b>$56.907</b>
                </div>
                <div class="servicios-destacados">
                    <h2>Servicios destacados</h2>
                    <div class="servicios-items"> 
                        <div class="wallet">
                            <a href="#"><i class="fa-solid fa-wallet"></i></a>
                            <p>Bolsillos</p>
                        </div>
                        <div class="certificados">
                            <a href="#"><i class="fa-solid fa-file-contract"></i></a>
                            <p>Certificados</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>