<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>

    <div class="container">
        <h1>Login</h1>
        <label for="user">Usuario:</label>
        <input type="text" id="user">
        <label for="password">Contraseña:</label>
        <input type="password" id="password">
        <button id="submit" onclick="login()">Ingresar</button>
        <button id="toggleMode">🌙 Modo Nocturno</button>
    </div>

    <script src="../js/login.js"></script>
</body>
</html>
