<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>

    <div class="container">
        <h1>BIENVENIDO</h1>
        <div class="input-container correo-container">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                    <polyline points="22,6 12,13 2,6"></polyline>
                </svg>
            </div>
            <input type="text" id="correo" placeholder="Correo">
        </div>
        <div class="input-container contrasena-container">
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
            <input type="password" id="contrasena" placeholder="Contraseña">
        </div>        
        <button id="submit" onclick="login()">Ingresar</button>
        <a href="crearCuenta.html">¿No está registrado? clic aquí para crear una cuenta</a>
    </div>

    <script src="../js/login.js"></script>
</body>
</html>
